.container{
  /* border: solid; */
  background-color:rgba(255, 255, 255, .99);
  min-height: 940px;
  /* margin: 0px !important;*/
  padding: 0px !important;
  /*width: 2000px !important; */
}
.App{
  /* border: solid green; */
  background-image: url('./img/container-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
  width: 100%;
  /* border: solid; */
  display: flex;
  /* justify-content: center; */
  align-content: center;
}
ul{
  display: inline;
  margin: 0px !important;
  list-style-type: none;
  padding-inline-start: 0px;
  /* margin-bottom: 0px !important; */
}
form ul,form input, form button{
  /* border: solid yellow !important */
}
form input{
  margin-right: 0px !important;
}
form button{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.star{
  box-sizing: border-box;
  object-fit: fill;
  max-height: 20px;
  max-width: 20px;
}
.search-star img{
  opacity: .5;
}
.search-star img:hover{
  opacity: 1;
}
ul li{
  display: inline;
  /* margin-right: 10px; */
  padding: 0px;
}
.search-box{
  flex-grow: 1;
  padding: 4px
}
.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 7px;
  /* border: solid; */
}
.min-rating{
  margin-bottom: 0px ;
  /* border: solid green; */
}
.search-star{
  /* border: solid yellow; */
}
form button{
  /* border: 1px solid gray !important; */
  padding: 4px !important;
  /* margin: 2px !important */
}
form button:hover{
  /* background-color:rgba(255, 255, 255, 1) !important; */
}
.add-movie-card{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  border:dashed;
  margin: 1%;
  font-size: 80px;
  font-weight: 900;
  color: gray;
}
.add-movie-card a{
  text-decoration: none;
  color: black;  
}
.add-movie-card a:hover{
  color: gray;
  text-decoration: none;
}
.movie-card{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 30%;
  height: auto;
  border:solid;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  margin: 1%;
}
.movie-poster{
  /* position:absolute; */
  width: 100%;
  height: 90%;
  /* max-height: 83%;
  min-height: 63%; */
}
.movie-rating{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  padding: 2%;
  background-color: white;
  border: solid white;
  /* height: auto; */
}
.movie-title-release{
  margin: 0px;
}
.movies{
  display: flex;
  flex-wrap: wrap;
}